#container {
  border: 2px solid black;
  width: 53%;
  text-align: center;
  margin: auto;
  padding: 5px;
}

body {
  font-family: "Open Sans", sans-serif;
}
* {
  box-sizing: border-box;
}

header h1 {
  margin: 0px;
}

header h3 {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  font-size: 16px;
}
header p {
  margin: 0px;
  text-align: left;
}

.bold {
  font-weight: 900;
}

.small-divider {
  display: flex;
  justify-content: space-between;
  margin: 0px;
  font-size: 16px;
}

.large-divider {
  height: 10px;
  margin: 2px;
  background-color: black;
}

.medium-divider {
  height: 5px;
  background-color: black;
  margin: 0px;
}

section p {
  margin: 0px;
  text-align: left;
  font-size: 14px;
}

section h3 {
  margin: 0px;
  display: flex;
  justify-content: space-between;
  font-size: 30px;
}

section p {
  text-align: left;
  margin: 0px;
}

#subTitle {
  text-align: right;
  display: block;
}

p {
  margin: 0px;
}
main p {
  display: flex;
  justify-content: space-between;
}
.indent {
  margin-left: 1em;
}

.note {
  font-size: 0.6rem;
  margin: 5px 0;
  padding: 0 8px;
  text-indent: -8px;
}
.double-indent {
  margin-left: 2em;
}
